/*
Color
dark: #2a3d66
medium:  #5d54a4
mid: #9d65c9
light: #d789d7

Typography

Poppins

h1: 121.5px
h2: 81px
h3: 54px
h4: 36px
h5: 24px
h6: 16px
small: 10.67px
*/
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, a, figcaption, legend, label, input, button {
    font-family: "Poppins", sans-serif;
}
nav, #about, .box {
    display: flex;
}

nav {
    background-color: #2a3d66;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
     
}

img.logo {
    width: 100px;
    height: 100px;
    padding-left: 10px;
}

nav > h3 {
    color: white;
    padding: 24px;
}
nav > ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 16px;
    margin: 16px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
a:visited {
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: url("./lily.jpg");
    background-position: center;
    margin-top: 90px;
}

#target {
    display: hidden;
    position: absolute;
    top: -121px;
}

h1 {
    font-size: 121.5px;
    text-align: center;
    color: white;
}
button, input[type=submit] {
    background-color: #5d54a4;
    color: white;
    font-size: 24px;
    padding: 16px;
    text-transform: uppercase;
    border-radius: 5px;
}
#about {
     
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    background-color: #2a3d66;
    padding: 81px 0;
}
.box {
    flex-direction: column;
    align-items: center;
    padding: 24px;
    /* border: 1px solid red; */
}

.box > img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.box > h3 {
    text-transform: uppercase;
    color: white;
    padding: 36px;
}
.box > p {
    width: 200px;
    color:white;
    padding: 36px;
}
form {
    background-color: #5d54a4;
    padding: 54px 0;
}

form > h2 {
    color: white;
    text-align: center;
    padding: 16px 0 24px 0;
}

form > input[type=submit] {
    margin: 36px 36px 0 36px;
}

fieldset {
    padding: 36px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

fieldset input {
    width: 300px;
    border-radius: 5px;
    height: 36px;
}

fieldset input[type=checkbox] {
    width: 25px;
}
 
.form-container {
    display: flex;
    justify-content: space-evenly;
}

footer {
    height: 89px;
    background-color:#2a3d66;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color:white;
}
